<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Formulaire</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="./plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="./dist/css/adminlte.css">
</head>
<body>
    <br><br><br><br><br>
<div class="container-fluid" style="width: 800px; height: 20px;" >
    <div class="row">
      <!-- left column -->
      <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title">Inscription</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form method="post" action="http://localhost:3000/register">
            <div class="card-body pb-0">
              <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" name="username" class="form-control" id="name" placeholder="Entrer votre nom">
              </div>
              <div class="form-group">
                <label for="name">Tél</label>
                <input type="text" name="phone" class="form-control" id="name" placeholder="Entrer votre contact">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Entrer l'email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Mot de passe</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Entrer un mot de passe">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">confirmation</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="confirmez le mot de passe">
              </div>
              <div class="form-check p-0">
                <input type="checkbox" class="form-check-input" id="exampleCheck1"> 
                <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label> 
                <p>Deja inscrit ? <a href="/connexion">Se connecter</a></p>
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-outline-danger">Soumettre</button>
            </div>
          </form>
        </div>
    
        
          <!-- Control Sidebar -->
          <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
          </aside>
          <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->
        
        <!-- jQuery -->
        <script src="./plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="./plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- bs-custom-file-input -->
        <script src="./plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
        <!-- AdminLTE App -->
        <script src="./dist/js/adminlte.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="./dist/js/demo.js"></script>
        <!-- Page specific script -->
        <script>
        $(function () {
          bsCustomFileInput.init();
        });
        </script>
        </body>
        </html>